.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    padding: 1rem 1.5rem;
    height: 100%;
    overflow-y: auto;
}

.ajustado{
    position: fixed; bottom: 10px; right: 10px; z-index:1
}